.container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  > div {
    max-width: 200px;
    margin: 10px;
    max-width: 200px;
  }
}

.boxBtn {
  text-align: center;
}
.btnNewGame {
  background-color: #e63946;
  padding: 5px 10px;
  border-radius: 10px;
  color: #f1faee;
  text-align: center;
  max-width: 100px;
  cursor: pointer;
  display: inline-block;
}

@media (max-width: 1024px) {
  .container {
    width: unset;
    > * {
      width: calc((100% / 4) - 20px);
    }
  }
}

@media (max-width: 600px) {
  .container {
    width: unset;
    > * {
      width: calc(50% - 10px);
      text-align: left;
    }
  }
}

@media (max-width: 300px) {
  .container {
    width: unset;
    > * {
      width: calc(100% - 10px);
      text-align: left;
    }
  }
}