.container {
  display: flex;
  flex-direction: row;
  margin: 0px auto;
  max-width: 1125px;
}

.boxSummary {

}

.boxCards {
  flex: 1;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
  .boxCards {
    flex: none;
  }
}